
<div class="login-contianer">
    <div class="login-header">
        <h1>Register</h1>
    </div>
    <div class="close-button">
      <button routerLink="/" class="button is-danger">X</button>
    </div>
    <div class="login-block">
        <div class="field">
            <p class="control has-icons-left">
              <input  [(ngModel)]="username" class="input" type="text" placeholder="Name">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input  [(ngModel)]="phone" class="input" type="number" placeholder="Phone">
              <span class="icon is-small is-left">
                <i class="fas fa-phone"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input  [(ngModel)]="email" class="input" type="email" placeholder="Email">
              <span class="icon is-small is-left">
                <i class="fas fa-computer"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input [(ngModel)]="password" class="input" type="password" placeholder="Password">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input [(ngModel)]="confirmPassword" class="input" type="password" placeholder="Confirm Password">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="control">
            <button #submitButton (click)="registerUserEvent()" class="button-submit">Submit</button>
          </div>
    </div>

</div>