<div class="add-notes-container">
    <div class="add-notes-block">
     
        <div class="field input-block">
          <label>Title: </label>
            <p class="control has-icons-left">
              <input  [(ngModel)]="title" class="input title-input" type="email" placeholder="Title">
              <span class="icon is-small is-left">
                <i class="fas fa-pen"></i>
              </span>
            </p>
          </div>
          <div class="control textarea-block">
            <label>Note: </label>
            <textarea [(ngModel)]="body" class="input textarea-input" id="" cols="30" rows="10"></textarea>
          </div>
          <div class="control">
            <button #submitButton (click)="isEdit?editNote():addNote()" class="button is-primary">{{isEdit?'Save':'Add Note'}}</button>
          </div>
      
       
    </div>
</div>
