
@import '../../../main-styles.scss';


.add-notes-container{
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 500px;
    border-radius: 6px;
    box-shadow: 0px 0px 0.75rem black;

    h1{
        font-size: 34px;
    }

    .add-notes-block{
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        input,textarea{
            border: 1px solid $pink;
        }
     
    }
    .add-notes-form{
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
}

.signup-link{
    font-weight: 800;
    &:hover{
        cursor: pointer;
    }
}

.input-block{
    display: flex;
    gap: 20px;
    align-items: center;
}
.textarea-block{
    display: flex;
    gap: 20px;
    align-items: flex-start;

}
.title-input
{
    width: 350px;
}
.textarea-input{
    height: 300px;
    width: 350px;
    resize: none;
}

@media screen and (max-width:720px) {
    .add-notes-container{
        width: 350px;
    }
    .title-input{
        width: 80%;
    }
    .textarea-input{
        width: 70%;
        position: relative;
        left: 5%;
        gap: 5px;
    }
    .textarea-block{
        gap: 5px;
    }
}